<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/shared/head.ejs %>
    <title>AAPL</title>
  </head>
  <body>
    <% include ./partials/shared/nav.ejs %>
    <main>
      <div class="cnn"></div>
    </main>
    <% include ./partials/shared/footer.ejs %>
  </body>
  <% include ./partials/shared/scripts.ejs %>
</html>
