<nav>
    <ul>
        <li>
            <a href="/logic">Logic</a>
        </li>
        <li>
            <a href="/cnn">AAPL CNN</a>
        </li>
        <li>
            <a href="/rnn">AAPL RNN</a>
        </li>
    </ul>
</nav>